<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>

  <nav>
  <a href="/songs">All Songs</a> 
  <a href="/artists">All Artists</a> 
  <a href="/genres">All Genres</a> 
  <a href="/songs/new">New Song</a> 
  <a href="/artists/new">New Artist</a> 
  <a href="/genres/new">New Genre</a> 
  </nav>

    <%= yield %>

  </body>
</html>